body {
    background-image: url("pkmnbg2.png");
    font-size: 1em;
}

header {
    background-color: #EAEAEA;
    padding: 5px;
    font-size: 2em;
    float: inherit;
}

h1 {
    text-align: center;
}

h2{
    text-align:center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #EAEAEA;
}

li {
    float: left;
}

li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: rgb(53, 52, 198);
}

.active {
    background-color: #ff252a;
}

main, .weatherdisplay {
    background-color: #EAEAEA;
    overflow: hidden;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto
    width: 900px;
}

.weatherdisplay {
    text-align: center;
}

.first, .second {
    float: left;
}

.first {
    margin-right: 20px;
}

.second {
    margin-left: 20px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

table {
    margin-bottom: 10px;
}

td {
    padding-top: 5px;
}

.calm, .sunny, .rainy, .windy, .stormy, .icy {
    width: 450px;
    padding-left: 10px;
    padding-bottom: 1px;
    background-color: #EAEAEA;
}

.rainy, .icy {
    margin-bottom: 10px;
}

.container {
    background: #fe0d1e;
    align-content: center;
    width:960px;
    margin-right: 260px;
    margin-left: auto;
    padding: 30px;
}

h2 {
    padding: 0px;
}

p {
    font-size: 1.3em;
    color: dimgray;
}

footer {
    color: gainsboro;
}
